<div class="footer">
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <ul class="row mx-auto">
      <li class="nav-item">
        <%=link_to "お問い合わせ", "#", class:"nav-link text-light" %>
      </li>
      <li class="nav-item">
        <%=link_to "プライバシーポリシー", "#", class:"nav-link text-light" %>
      </li>
    </ul>
  </nav>
</div>
